<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
     <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
  <h3>CREATE AN ITEM</h3>
  <form class="new-item">
      <label for="">Subject:</label>
      <input class="subject"/>
      <br>

      <label for="">Content:</label>
      <input class="content"/>

      <button type="submit">Submit</button>
  </form>
  <a href="/tasks">Go back to Full List</a>
</body>
</html>
