<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
     <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
  <h3>ITEM</h3>

  <p id="subject">{{subject}}</p>
  <p id="content">{{content}}</p>

  <input class="id" value= {{id}} type="hidden" />

  <a href="/tasks/{{id}}/edit">Edit this item</a>
  <button class="delete-item">Delete</button>
  <a href="/tasks">Full list</a>
</body>
</html>
